.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
  display: flex;
}

.column {
  flex-direction: column;
  display: flex;
}

.json-section {
  max-width: 32rem;
  margin-left: 16px;
}

.reset-button {
  width: 32rem;
  height: 3rem;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  font-size: large;
  margin-left: 16px;
  margin-right: 16px;
}

.animate-button {
  width: 32rem;
  height: 3rem;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #3ABEF9;
  font-size: large;
}

.divider {
  width: 100vw;
  height: 2px;
  background-color: black;
  margin-bottom: 1rem;
}

.prompt-text-area {
  margin-top: 5rem;
  margin-bottom: 1rem;

  width: 32rem;
  border-radius: 16px;
  height: 9rem;
  padding: 1rem;
}